@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="navbar-nav navbar-right">
            <li class="nav-item dropdown">
                <!-- Display Profile Picture if available; fallback to default -->
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    <img src="@Url.Content(User.Identity.GetProfilePictureUrl())" alt="Profile Picture" class="rounded-circle" style="width: 30px; height: 30px; object-fit: cover; margin-right: 5px;">
                    Hola @User.Identity.GetUserName()!
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <!-- Link to Manage Account Settings -->
                    @Html.ActionLink("Configurar cuenta", "Index", "Manage", null, new { @class = "dropdown-item" })
                    <div class="dropdown-divider"></div>
                    <!-- Log Out Option -->
                    <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a>
                </div>
            </li>
        </ul>
    }
}
else
{
    <ul class="navbar-nav navbar-right">
        <li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
        <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
    </ul>
}
